/*  */


body {
	color: rgb(251, 247, 241);

	/* unhighlightability */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h3 {
	font-size: 20px;
}

img {
	/* undraggability */
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

/* links */
a {
	/* undraggability */
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;

	color: rgb(251, 247, 241);
    transition: color .8s;
}
@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}
a:hover {
	color: rgb(251, 247, 241);
    text-decoration: none;
	-webkit-animation: neon 1.5s ease-in-out infinite alternate;
	-moz-animation: neon 1.5s ease-in-out infinite alternate;
	animation: neon 1.5s ease-in-out infinite alternate;
}
a:visited {
    color: rgb(251, 247, 241);
    text-decoration: none;
}
a:active {
    color: rgb(251, 247, 241);
    text-decoration: none;
}
a:link {
    color: rgb(251, 247, 241);
    text-decoration: none;
}




/* . */


/* fonts */
.font-bebas {
	font-family: 'bebasregular', sans-serif;
}
.font-bttf {
	font-family: 'back_to_the_future_2002Rg', sans-serif;
}
.font-roboto {
	font-family: 'robotomedium', sans-serif;
}

/* backgrounds */
.background-dark {
	background: #232325;
}
.background-gradient {
	background: linear-gradient(90deg, orange 25%, blue 100%);
}

/* buttons */
.button-square {
  border-radius: 0;
}
.button-green {
	background-color: #5cb85c;
	border-color: #5cb85c;
	color: rgb(251, 247, 241);
}

/* grid items */
.links-grid-item {
	display: flex;
	align-items: center;
	justify-content: center;
}
.portfolio-grid-item {
	display: flex;
	align-items: center;
	justify-content: center;
}
.portfolio-grid-item-description {
	display: block;
}

/* containers */
.paddington {
	text-align: center;
	margin:	4%;
}
/* at least: tablets in landscape mode */
@media only screen and (min-width: 768px) {
	.paddington {
		text-align: start;
		margin:	2%;
	}
}

/* frames */
iframe {
	width: 90%;
	height: 55%;
}




/* # */


/* index.html */
#Daumhauser {
	background-image: url("../images/Daumhauser - Mobile.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#reel {
	position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
	display: none;
}
#logo {
	width: 10em;
	height: auto;
}
#links-grid-container {
	display: inline-grid;
	grid-gap: 1em;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto;
}
#titleage {
	display: inline;
	margin-top: 30%;
	margin-left: 0%;
	width: 28rem;
	height: auto;
}
#portfolio-button {
	margin-top: 5%;
}
#portfolio-opener-container {
    float: right;
	/* margin only approximately set to mirror the positioning of the logo and links grid: */
	margin-top: 2%;
	margin-right: 1%;
}
#portfolio-opener {
	width: 16rem;
	height: auto;
}
/* portfolio.html */
#deep-sky {
	background-image: url("../images/Deep Sky 21 - modified.jpg");
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#portfolio-about-container {
	
}
#portfolio-about-header {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}
#portfolio-about-description {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}
#portfolio-grid-container-centerer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100vh;		/* arbitrary large number to support a practically infinite amount of rows */
	width: 100%;
}
#portfolio-grid-container {
	display: inline-grid;
	grid-gap: 1em;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto auto;
}

/* at least: smartphones in landscape mode */
@media only screen and (min-width: 480px) {
	#links-grid-container {
		grid-template-columns: auto auto auto auto auto auto auto auto;
		grid-template-rows: auto;
	}
	#titleage {
		margin-top: 20%;
	}
}

/* at least: tablets in portrait mode */
@media only screen and (min-width: 600px) {
	#titleage {
		margin-top: 15%;
	}
}

/* at least: tablets in landscape mode */
@media only screen and (min-width: 768px) {
	#Daumhauser {
		background-image: url("../images/Daumhauser - Titleaged.jpg");
	}
	#reel {
		display: inline-block;
	}
	#titleage {
		display: none;
		margin-top: 10%;
		margin-left: 1.5%;
		width: 34rem;
	}
}

/* at least: desktop */
@media only screen and (min-width: 1024px) {
	#titleage {
		margin-top: 10%;
		margin-left: .5%;
		width: 34rem;
	}
}

/* at least: large desktop */
@media only screen and (min-width: 1920px) {
	#titleage {
		width: 38rem;
	}
}