/* CLASSES */

.navstrip-link {
	font-size: 1.6em;
}
@media only screen and (min-width: 450px) {		/* responsivity - at least: Chrome min width */
	.navstrip-link {
		font-size: 1.9em;
	}
}
@media only screen and (min-width: 600px) {		/* responsivity - at least: tablets in portrait mode */
	.navstrip-link {
		font-size: 2em;
	}
}

.explanation {
	line-height: 1.5em;
}

.fol {
	/*display: flex;*/
	/*flex-direction: row;*/
	/*align-items: center;*/

	/* padding */
	padding-top: 4em;
	padding-bottom: 4em;
}
.portfolio-margin {
	margin-left: 7vw;
	margin-right: 7vw;
}
@media only screen and (min-width: 600px) {		/* responsivity - at least: 600px */
	.portfolio-margin {
		margin-left: 14vw;
		margin-right: 14vw;
	}
}
@media only screen and (min-width: 1024px) {		/* responsivity - at least: desktop */
	.portfolio-margin {
		margin-left: 19vw;
		margin-right: 19vw;
	}
}
.fol-banner {
	width: 100%;
}
.fol-text-container {
	padding-left: 1vw;
	padding-right: 1vw;
}
@media only screen and (max-width: 767px) {		/* responsivity - below: tablets in landscape mode */
	.fol-text-container {
		padding-left: 2vw;
	}
}
.fol-description > iframe {
	padding-right: 1vw;
}
.fol-title {
	/*text-transform: uppercase;*/
	font-weight: bold;
}
.fol-text-footer > iframe {
	width: 100%;
}

.portrait-titleage {
	text-transform: uppercase;
	font-weight: bold;
	margin-top: .5em;
}