/* CLASSES */


/* fonts */
.font-Open-Sans {
	font-family: 'Open Sans', sans-serif;
}

/* backgrounds */
.background-light {
	background-color: var(--color-light);
}
.background-dark {
	background-color: var(--color-dark);
}
.background-Steam-dark {
	background-color: var(--color-Steam-dark);
}