/* COLORS */

:root {
    --color-main: #259ece;
	--color-cover-average: #0c3040;
	--color-light: var(--color-cover-average);
	--color-dark: #09212c;
	--color-icon-light: #53bdd3;
	--color-icon-dark: #1996cd;
    --color-link: var(--color-icon-light);
    --color-link-hovered: var(--color-icon-dark);
	--color-Steam-dark: #171a21;
}