/* ELEMENTS */


/* styling */
body {
	background-color: var(--color-cover-average);
	font-family: 'Open Sans', sans-serif;
}

/* links */
a {
	font-weight: bold;
}

/* buttons */
button {
	/* sizing */
    font-size: .9em;
    padding: 7px 14px;
	overflow: hidden;
	margin: 1rem;
	padding: 0;
	width: 150px;
	height: 40px;

	/* shaping */
	border-radius: 2em;
	
	/* font */
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
    letter-spacing: .07em;

	/* coloring */
	color: white;
	background-color: transparent;
	border: 2px solid rgba(255, 255, 255, .6);

	/* transition duration */
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}
button:hover {
	border: 2px solid rgba(255, 255, 255, 1);
	text-shadow: 0 0 50px rgba(0, 69, 253, .4);
	box-shadow: 0 0 50px rgba(0, 69, 253, .4);
}
button:active {
	color: var(--color-main);
	background-color: white;
	text-shadow: none;
	box-shadow: 0 0 70px rgba(0, 69, 253, .4);

	/* transition duration */
	-o-transition: .05s;
	-ms-transition: .05s;
	-moz-transition: .05s;
	-webkit-transition: .05s;
	transition: .05s;
}

/* headers */
h1, h2, h3, h4 {
	text-align: center;	
}