/* 'PT' Sans [Google Fonts] */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800);
/* Indie Flower [Google Fonts] */
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);


/* selection highlight coloring */
::selection {
  background: #bf4d9e;
}
::-moz-selection {
  background: #bf4d9e;
}


body {
  background-color: #101524;
  color: #556fbb;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  line-height: 2;
  margin-bottom: 60px;
}


#upleveler-projects {
  position: fixed;
  z-index: 10;
  left: 1%;
  top: 25px;
}
#upleveler-projects:hover {
  top: 20px;
}

#upleveler-The-Equivalencies {
  position: fixed;
  z-index: 10;
  right: 1%;
  top: 25px;
}
#upleveler-The-Equivalencies:hover {
  top: 20px;
}


a {
  transition: all .2s ease-in-out;
}


.panel {
  border-radius: 25px;
  padding: 15px;
  padding-bottom: 6px;
}

#background {
  width: 100%;
  background-image: url('../images/Istering.jpg');
  background-position: center;
  background-size: cover;
}

.starry {
  background-image: url('../../../images/twinkle-twinkle.png');
}

.nontiny-hidden-break {
  display: none;
}

h1 {
  color: white;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding: 40px;
}
#The-Equivalencies {
  color: black;
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.text {
  margin: 0 auto;
  width: 800px;
}
#small-panel {
  width: 500px;
}
#big-panel {
  width: 800px;
}
@media (max-width: 1000px) {
  .text {
    width: 100%;
  }
}
@media (min-width: 801px) and (max-width: 999px) {
  #big-panel {
    width: 700px;
  }
}
@media (min-width: 701px) and (max-width: 800px) {
  #small-panel {
    width: 400px;
  }
  #big-panel {
    width: 500px;
  }
}
@media (min-width: 523px) and (max-width: 700px) {
  #small-panel {
    width: 300px;
  }
  #big-panel {
    width: 400px;
  }
}
@media (max-width: 700px) {
  .nontiny-hidden-break {
    display: inline;
  }
  .nontiny-visible-space {
    display: none;
  }
}
@media (min-width: 351px) and (max-width: 522px) {
  #small-panel {
    width: 300px;
  }
  #big-panel {
    width: 300px;
  }
}
@media (min-width: 321px) and (max-width: 350px) {
  #small-panel, #big-panel {
    width: 225px;
  }
}
@media (max-width: 320px) {
  #small-panel, #big-panel {
    width: 220px;
  }
  #The-Equivalencies {
    font-size: 30px;
  }
}

#progress {
  color: Gold;
}

@media (max-width: 1000px) {
  #confused-language-space {
    display: none;
  }
}
@media (min-width: 1000px) {
  #confused-language-break {
    display: none;
  }
}


g {
  stroke:hsla(255,255%,255%,1);
  fill:hsla(255,255%,255%,1);
  stroke-linejoin:round;
  stroke-linecap:round;
  transition-property:stroke-width,font-size;
  transition-duration:1s;
  transition-timing-function:ease-out;
  font-size:0px;
  stroke-width:100px;
}
svg:hover>g {
  font-size:100px;
  stroke-width:0px;
}
text {
  text-anchor:middle;
  text-rendering:geometricPrecision;
  dominant-baseline:mathematical;
  font-family: 'Indie Flower', cursive;
}

@media (max-width: 1000px) {
  .topic h1 {
    padding: 40px 100px 40px 100px;
  }
  .topic p {
    padding: 0px 30px 10px 30px;
  }
}

p {
  padding-bottom: 10px;
}

a {
  color: #4cca62;
  text-decoration: none;
}
a:hover {
  color: #428bca;
  text-decoration: underline;
}

.video-wrapper {
  margin: 0 auto;
  width = 100%;
  max-width: 560px;
  height: 315px;
}
iframe {
  border-radius: 25px;
}


.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}

.halftabbed {
  padding-left: 2.5em !important;
}
.tabbed {
  padding-left: 5em !important;
}
.doubletabbed {
  padding-left: 10em !important;
}

.content {
  color: #c9399f;
}
.content a {
  color: #4cca62;
}
.content a:hover {
  color: #e26cc0;
}
.regular {
  color: #556fbb;
}

.subscript {
  vertical-align: sub;
  font-size: smaller;
}
.superscript {
  vertical-align: super;
  font-size: smaller;
}

.topic-sectioner {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  top: 43px;
  pointer-events: none;
}
.sectioner {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.underlined {
  text-decoration: underline;
}
.regularly-underlined {
  border-bottom: 2px solid #556fbb;
}
.stacked-glow-underlining {
  position: relative;
  top: -43px;
  pointer-events: none;
  font-size: 30px;
  color: #3d14a1;
  text-shadow: 0 0 5px rgba(255,255,255,1) , 0 0 10px rgba(255,255,255,1) , 0 0 15px rgba(255,255,255,1) , 0 0 20px #3d14a1 , 0 0 35px #3d14a1 , 0 0 40px #3d14a1 , 0 0 50px #3d14a1 ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-transform: none;
  transform: none;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
}
.overlined {
  text-decoration: overline;
}

.shadowed {
  text-shadow: 0 0 0.2em #000000, 0 0 0.2em #000000, 0 0 0.2em #000000;
}
.lit {
  text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #FFF, 0 0 0.2em #FFF;
}

.centered {
  margin: 0 auto;
}
.text-centered {
  text-align: center;
}
.centered-beveled-image {        
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}
@media (max-width: 900px) {
  .centered-beveled-image {
    width: 100%;
  }
  #Alan-Watts-portrait {
    width: 300px;
    height: auto;
  }
}

.white-background {
  background-color: white;
}
.silver-background {
  background-color: silver;
}
.black-background {
  background-color: black;
}

#dot {
  
}
@media (max-width: 800px) {
  #dot {
    width: 600px;
  }
}