/* CLASSES */


/* fonts */
.font-Open-Sans {
	font-family: "Open Sans", sans-serif;
}

/* backgrounds */
.background-dark-lighter {
	background-color: var(--color-dark-lighter);
	color: var(--color-Steam-text);
}

/* braces */
.brace-small {
	padding-top: 1em;
	width: 10%;
}
.brace-large {
	padding-top: 1em;
	width: 14%;
}

/* block headers */
.block-padded > h2, .block-padded > a > h2 {
	letter-spacing: .04em;
	font-size: 2.5rem;
}
.block-padded > a > h2 {
	color: var(--color-link)
}

/* block "article" padding */
.block-article-padding {
	/* padding */
	padding-left: 30%;
	padding-right: 30%;
}

/* block dividers */
.block-divider {
	/* padding */
	padding-top: 1em;

	/* margin */
	margin-left: 25%;
	margin-right: 25%;

	/* border */
	border-bottom: 2.5px solid var(--color-light);
    border-radius: 3px;
}

/* media grids */
.media-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
	margin-left: 15%;
	margin-right: 15%;
}
.media-grid-media {
	padding-top: 4em;
	padding-left: 4em;
	padding-right: 4em;
	padding-bottom: 2em;

	/* transition duration */
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	transition: 1s;
}
.media-grid-media > a > video {
	border: 5px solid var(--color-light);
}
.media-grid-media > a > h4 {
	padding-top: .5em;
}
.media-grid-media > a > p {
	color: var(--color-light);
}
.media-grid-media:hover {
	color: var(--color-link-hovered);
}
.media-grid-media:hover > a > video {
	border: 5px solid var(--color-link-hovered);
}
.media-grid-media:hover > a > h4 {
	color: var(--color-link-hovered);
}
.media-grid-media:hover > a > p {
	color: var(--color-link-hovered);
}

/* socials grids */
.socials-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.socials-grid-singles {
	grid-template-columns: repeat(1, 1fr);
}
.socials-grid-social {
	text-align: center;

	/* padding */
	padding-top: 2em;
	padding-left: 4em;
	padding-right: 4em;
	padding-bottom: 2em;
}
.socials-grid-social > a > i {
	color: white;
	padding-bottom: .15em;

	/* transition duration */
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}
.socials-grid-social > a > p {
	color: white;

	/* transition duration */
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}
.socials-grid-social:hover > a > .social-hover-styling-Discord {
	/*color: var(--color-Discord);*/
}
.socials-grid-social:hover > a > .social-hover-styling-Git-Hub {
	/*color: var(--color-Git-Hub);*/
}

/* linked features */
.linked-features {
	margin-top: 1em;
}
.linked-features > a > h4 {
	margin-bottom: 1em;
}
.linked-features > h4:hover > a {
	color: var(--color-link-hovered);
}

/* feature link headers */
.media-grid-media > a > h4, .linked-features > a > h4 {
	text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: .08em;
	color: var(--color-light);
	text-shadow: none;
	font-weight: normal;
}

/* headered features */
.headered-feature {
	margin-top: 3em;
}

/* Documentation link header */
.documentation-link-header {
	font-weight: 900;
	margin-top: 3em;
}