/* IDENTIFIERS */


/* logo */
#logo {
	/* size */
	width: 25.2%;
	height: auto;

	/* padding */
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 1.8%;
	padding-right: 0;
}

/* cover */
#cover-image {
	width: 100%;
}
#cover-buttons-grid-positioner {
	/* positioning */
	padding-top: 19.8vw;
	left: 36vw;
	right: 36vw;
	margin: 0 auto;
}

/* block: Platforms Support */
#platforms-support-brands-image {
	width: 40%;
	height: auto;
}
#platforms-support-Oculus-logo {
	width: 7%;
	height: auto;
	margin-bottom: 2em;
}

/* block: In Development */
#construction-divider {
	width: 50%;
}

/* footer */
#footer {
	display: table;
	overflow: hidden;
	width: 100%;
}
#footer-text {
	display: table-cell;
	vertical-align: middle;
}
#footer-text > p {
	margin-bottom: 0;
}